<mat-card>
   <mat-card-title>Novo Filme</mat-card-title>
   <form>
      <mat-form-field>
         <input matInput placeholder="Nome"
         [(ngModel)]= "filme.Nome"  name="nome">
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="Ano"
         [(ngModel)]= "filme.Ano" name="ano">
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="Diretor"
         [(ngModel)]= "filme.Diretor" name="diretor">
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="Genêro"
         [(ngModel)]= "filme.Genero" name="genero" >
      </mat-form-field>
      <mat-form-field>
         <textarea matInput placeholder="Descrição"
         [(ngModel)]= "filme.Descricao" name="descricao" ></textarea>
      </mat-form-field>
      <mat-form-field>
         <input type="url" matInput placeholder="Poster"
          [(ngModel)]= "filme.Poster" name="poster"  >
      </mat-form-field>
   </form>

<button mat-raised-button (click)="createFilmes()" color="primary">
   Salvar
</button>
<button mat-raised-button (click)="cancel()" color="primary">
    Cancelar
 </button>

</mat-card>