<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        <strong> Filmes em Destaque:</strong>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <img src="../assets/img/+veloses+furiosos.jpg">
        <img src="../assets/img/60segundos.jpg">
        <img src="../assets/img/1.jpg">
    </mat-card-subtitle>

        <mat-card-title class="title">
            <strong> Filmes de Ação:</strong>
        </mat-card-title>

        <mat-card-subtitle class="subtitle">

        <img src="../assets/img/+veloses+furiosos.jpg">
        <img src="../assets/img/60segundos.jpg">
        <img src="../assets/img/1.jpg">

        </mat-card-subtitle>

            <mat-card-title class="title">
                <strong> Filmes de Comédia</strong>
            </mat-card-title>
        <mat-card-subtitle class="subtitle">
            <img src="https://i.pinimg.com/originals/77/e1/01/77e10118b9b65ef08148dd2ab035d811.jpg">

    </mat-card-subtitle>
</mat-card>
