  table {
    width: 90%;
    height: 100px;
    overflow: auto;
    margin-bottom: 30px;
    margin-left: 20px;
    background-color: #111010;
  }
table .meio{
    justify-items: center;
    text-align: center;
    width: 5px;
}
table{
    font-family: 'Baloo Bhaina 2', cursive;
}

table .letras{
    text-align: center;
    align-items: center;
    font-size: .7rem;
}
table .meio1{
    width: 10px;
}


img{
    width: 100px;
}